name = "Friendships"
uuid = "a6110d29-88b6-47c1-b693-fa0b03c6b846"
authors = ["Sarah Boukhari <saraah.bhr@icloud.com> and contributors"]
version = "1.0.0-DEV"

[compat]
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
